<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    <% files.css.forEach(function (src) { %>
        <link rel="stylesheet" href="<%= src %>">
    <% }) %>
    <script src="three.min.js"></script>
    <% files.js.forEach(function (src) { %>
        <% if (src.indexOf('head') !== -1) { %>
            <script src="<%= src %>"></script>
        <% } %>
    <% }) %>
</head>

<body>
<div id="app"></div>
<% files.js.forEach(function (src) { %>
    <% if (src.indexOf('head') === -1) { %>
        <script src="<%= src %>"></script>
    <% } %>
<% }) %>
</body>

</html>